html{
    body{
        background-color: black;
        #wrapper{
            justify-content: center;
            background-color: bisque;
            box-sizing: border-box;
         #border{
              margin: 10px;
              padding: 10px;
              text-align: center;
              h1{
                 padding: 70px;
                 margin: 30px;
                 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }

            }
        }

    }
}