
html{
    body{
        background-color: bisque;
        #wrapper{
            justify-content: center;
            background-color: azure;
         #border{
              margin: 10px;
            }
        }

    }
}